<div class="tab-content custom-menu-content">
    <div class="tab-pane in active notika-tab-menu-bg">
        <div class="row">
            <div class="col-md-5">
                <div class="nk-int-st">
                    <!--<label class="nk-label toggled-cust">NOME COMPLETO</label>-->
                    <input name="search" id="search" type="text"  class="form-control itemFormSearch" required>
                </div>
            </div>
            <div class="nk-int-st row" id="btn-search">
                <button type="searchapp" id="pro" class="btn btn-success">Pesquisar</button>
            </div>
        </div>
    </div>
</div>