<!--<div class="tab-content custom-menu-content">
    <div class="tab-pane in active notika-tab-menu-bg">
        <div class="row">
            <div class="col-md-5">
                <div class="nk-int-st">
                    <input name="search" id="search" type="text"  class="form-control itemFormSearch" required>
                </div>
            </div>
            <div class="nk-int-st row" id="btn-search">
                <button type="searchapp" id="pro" class="btn btn-success">Pesquisar</button>
            </div>
        </div>
    </div>
</div>-->
<div class="container-fluid">
    <div class="nk-block toggled" id="search">
        <div class="search-box-body">
            <!-- Markup for getting Username starts -->
            <form class="form-element-list" id="form" #textsearch="ngForm" (ngSubmit)="onSubmit(search)" >
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="far fa-user"></i></span>
                    <div class="nk-int-st" ng-app="textsearchApp" ng-controller="textsearchCtrl">
                        <input type="text" id="textsearch" name="textsearch" [(ngModel)]="model.textsearch" #textsearch="ngModel" class="form-control" placeholder="Search">
                    </div>
                </div>
                <button type="submit"  id="searching"  class="btn btn-search btn-success btn-float waves-effect waves-circle waves-float">
                    <i class="fa fa-angle-right right-arrow-ant"></i>
                </button>
            </form>
        </div>
    </div>
</div>