<h1>Angular NgForm Example - ItSolutionStuff.com</h1>
  
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" novalidate>
   <input name="name" ngModel required #name="ngModel">
   <br/>
   <button>Submit</button>
   <button type="button" (click)="resetFormValue(myForm)">Reset</button>
   <button type="button" (click)="setDefault(myForm)">Set Default Value</button>
</form>
  
<p>Name Field Value: {{ name.value }}</p>
<p>Name Field Is Valid?: {{ name.valid }}</p>
  
<p>Form value: {{ myForm.value | json }}</p>
<p>Form valid: {{ myForm.valid }}</p>