<div class="bg_white col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px;" *ngIf="this.location.path() != '/login'">     
    <span class="mobile-label">
        <mat-icon [matMenuTriggerFor]="menuResponsivo" class="view_headline">view_headline</mat-icon>
    </span>
    <mat-menu #menuResponsivo="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="home">Home</button>
        <button mat-menu-item [matMenuTriggerFor]="cadastros">Cadastros</button>
    </mat-menu>
    <mat-menu #home="matMenu">
        <button routerLink="home/dashboard" routerLinkActive="active" mat-menu-item>Dashboard</button>
    </mat-menu>
    <mat-menu #cadastros="matMenu">
        <button mat-menu-item routerLink="cadastros/consulta" routerLinkActive="active">Consulta</button>
        <button mat-menu-item routerLink="cadastros/rollon" routerLinkActive="active">Rollon</button>
        <button mat-menu-item routerLink="cadastros/transfer" routerLinkActive="active">Transfer</button>
        <button mat-menu-item routerLink="cadastros/rolloff" routerLinkActive="active">Rolloff</button>
    <!--    <button mat-menu-item>Usuários</button> -->
    </mat-menu>
          
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" id="menu">
        <mat-tab label="Home">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">home</mat-icon>
                Home  
            </ng-template>
            <div class="sub_menu mat-tab-body-wrapper">    
                <div>
                    <a routerLink="home/dashboard" routerLinkActive="active" >Dashboard</a>
                </div>  
            </div>
        </mat-tab>
        <mat-tab label="Cadastros">
            <ng-template mat-tab-label>
                <mat-icon id="teste" class="example-tab-icon">fa-edit</mat-icon>
                    Cadastros
            </ng-template>
            <div class="sub_menu mat-tab-body-wrapper">
                <div> 
                    <a routerLink="cadastros/consulta" routerLinkActive="active">Consulta</a>
                </div>
                <div> 
                    <a routerLink="cadastros/rollon" routerLinkActive="active">Roll On</a>
                </div>
                <div>
                    <a routerLink="cadastros/transfer" routerLinkActive="active">Transfer</a>
                </div>
                <div>
                    <a routerLink="cadastros/rolloff" routerLinkActive="active">Roll Off</a>
                </div>
                <div>
                    <a routerLink="cadastros/usuario" routerLinkActive="active">Usuários</a>
                </div>
           </div>
        </mat-tab>
    </mat-tab-group>
</div>